[alias]
	co = checkout
	br = branch -vv
	ci = commit
	st = status
	rem = remote -vv
	lg = log --all --graph\n--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\n--abbrev-commit --date=relative
	no-edit = git commit --amend --no-edit
	permission-reset = !git diff -p -R --no-ext-diff --no-color --diff-filter=M | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
	permission-reset = !git diff -p -R --no-ext-diff --no-color --diff-filter=M | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/.spacemacs.d/linux-config/gitignore
	autocrlf = input
[commit]
	gpgsign = false
[pull]
	rebase = true
[user]
  name = Benoît Coste
	email = benoit.coste@pm.me
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[remote]
	# Triangular workfow: push to origin but pull from upstream
	# https://github.blog/2015-07-29-git-2-5-including-multiple-worktrees-and-triangular-workflows/
	pushDefault = origin
[advice]
	detachedHead = false
[init]
	defaultBranch = master
