[alias]
	co = checkout
	br = branch -vv
	ci = commit
	st = status
	rem = remote -vv
	lg = log --all --graph\n--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\n--abbrev-commit --date=relative
	no-edit = git commit --amend --no-edit
[push]
	default = simple
[core]
	editor = vim
	excludesfile = $HOME/.spacemacs.d/linux-config/gitignore
[commit]
	gpgsign = false
[pull]
	rebase = true
[user]
  name = Benoît Coste
	email = benoit.coste@protonmail.com